:root {
  --c-white: #ffffff;
  --c-white-soft: #dedede;
  --c-white-mute: #90908e;

  --c-black: #262522;
  --c-black-soft: #302e2b;
  --c-black-mute: #373633;

  --c-divider-black: #383734;
  --c-divider-white: #c3c2c1;
  --c-true-black: #000000;
}

:root {
  --color-background: var(--c-black);
  --color-background-soft: var(--c-black-soft);
  --color-background-mute: var(--c-black-mute);

  --color-border-black: var(--c-divider-black);
  --color-border-black-hover: var(--c-divider-black);

  --color-border-white: var(--c-divider-white);
  --color-border-white-hover: var(--c-divider-white);

  --color-heading: var(--c-white);
  --color-text: var(--c-white);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  font-size: 10px;
}
body {
  min-height: 100dvh;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
