:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  --sidebarWidth: 240px;
  --sidebarSpacing: 24px;
  --layoutSmallerConstraint: min(
    100dvh,
    calc(100dvw - (var(--sidebarWidth) + var(--sidebarSpacing)))
  );
  --boardSize: max(200px, var(--layoutSmallerConstraint));
}
@media only screen and (max-width: 768px) {
  body {
    --layoutSmallerConstraint: min(100dvh, calc(100dvw));
    --boardSize: max(200px, var(--layoutSmallerConstraint));
  }
}

#app {
  margin: 0 auto;
}
